@charset "utf-8";

body{
    color: red;
    background-color: rgb(255, 245, 134);
    /* フォント */
  font-family: Helvetica, Arial, sans-serif;

  font-size: 16px;   /* 文字サイズ */
  line-height: 1.75; /* 行の高さ */
  background-color: rgb(253, 255, 188); /* 背景色2 */
  margin: 0;
  }

  .wrap {
    max-width: 800px; /* 最大幅 */
    background-color: #f74040e3; /* 仮の背景色 */
    margin-left: auto;
    margin-right: auto;
  }

  .header {
    padding: 30px 40px; /* 余白: 上下 左右 */
  
    background-color: rgb(255, 183, 81); /* 背景色 */
    color: white; /* 文字色 */
    text-align: center;
    font-size: 30px;
  }

  .title {
    /* タイトル用フォント*/
    font-family: Futura, "Century Gothic", sans-serif;
  
    font-size: 32px;
    font-weight: bold; /* 太字 */
    letter-spacing: 0.1em; /* 文字間隔 */
  }

  .main {
    padding: 2% 40px; /* 余白: 上下 左右 */
    background-color:linear-gradient(-20deg, #d558c8 0%, #24d292 100%); /* 白背景 */
  }
  .main h1 {
    font-size: 64px;           /* デカ文字 */
    text-align: right;         /* 文字右寄せ */
    color: rgba(255, 2, 2, ); /* 文字色（半透明） */
  
    /* 境界線（下）*/
    border-bottom: 4px solid rgba(0, 0, 0, 0.2);
      /* 太さ:4px    スタイル: solid（直線）    色: 半透明の黒 */
  }
  .footer {
    padding: 30px 40px;      /* 余白 */
    background-color: (0, 0, 0); /* 背景色2 */
    color: white;            /* 文字色 */
  }

  .button {
    background-color: #ef0a0a;
    color: white;
    position: relative;
    top: 0;
    width: 50em;
    padding: .9em 1em;
    border-radius: 5px;
    box-shadow: 0 5px 0 #7a0000;
    transition: all .3s;
  }

  .top-button {
    display: block;
    background-color: red;
    color: beige;
    position: absolute;
    bottom: 0;
    right: 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    padding: 1em 2em;
  }

  .button:hover {
    background-color: #ff5e00;
    color: white;
}



  .menu {
    display: flex;
    gap: 12px;
  }

  .menu .item {
    background-color: yellow;
    text-decoration: none;
    font-size: 24px;
    padding: .5em 1em;
    border-radius: 25em;
  }

  

  /* 幅640px以下の時 */
  @media (max-width: 640px) {
    .main h1 {
      font-size: 32px;
    }
  }

  @media (max-width: 480px) {
    .main h1 {
      font-size: 24px;
    }
  }

  .clickable-image {
    display: inline-block;
    cursor: pointer;
    transition: transform 0.3s ease; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

.clickable-image:hover {
    transform: scale(1.1);
}
